
body {
    background-image: url('./assets/stars.webp');
}

.sun {
    background-image: url('./assets/sun.jpeg');
    height: 200px;
    width: 200px;
    position: absolute;
    right: 75px;
    top: 50px;
    transform: scale(1.5);
}

.rocket {
    background-image: url('./assets/rocket.png');
    height: 500px;
    width: 500px;
    transform: scale(0.5) translate(0px, 800px);
    transition: linear;
    animation: fly 3s forwards;
}

@keyframes fly {
    0% {
        transform: scale(0.5) translate(0px, 800px);
    }
    100% {
        transform: scale(0.5) translate(1550px, 250px);
    }
}

.explosion {
    background-image: url('./assets/explosion.gif');
    height: 250px;
    width: 200px;
    transform: scale(1) translate(950px, 250px);
}

.bye {
    display: none;
}